.schlagedex {
  padding: 1rem;
  background-color: var(--mat-sys-surface);
  // border: 1px solid var(--mat-sys-outline-variant);
  box-shadow: var(--mat-sys-level1);
  border-radius: 1rem;

  .list {
    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      box-shadow: var(--mat-sys-level2);
      padding: 1rem;
      justify-content: space-between;
      // background-color: var(--mat-sys-secondary-container);


      .name {
        font-weight: bold;
      }

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }

      &.active {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary);
      }
    }
  }

}