.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
public/assets/fonts
node-compile-cache
scripts/venv/*
scripts/music-video-generator/musique/
vitest-failed-only/*
vitest-report.json
scripts/musique/*.mp4
scripts/musique/_uploaded
scripts/musique/source