<mat-toolbar
    color="primary"
    class="header-toolbar"
>
    <span class="logo"><img
            src="/logo.png"
            alt="Logo Shlagémon"
            width="200"
            height="auto"
        />

    </span>

    <span class="spacer"></span>

    <span class="score">
        <!-- 🧠 {{ gameService.score }} CervelCoins -->
    </span>

    <span>
        <!-- <mat-slide-toggle
            [checked]="theme.isDark()"
            (change)="theme.toggle()"
            class="theme-toggle"
            color="accent"
            disableRipple
        >
            <span
                class="custom-thumb"
                [class.dark]="theme.isDark()"
            >
                <mat-icon>{{ theme.isDark() ? 'dark_mode' : 'light_mode' }}</mat-icon>
            </span>
        </mat-slide-toggle> -->

        <theme-toggle />

    </span>
</mat-toolbar>