@use "sass:map";

$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);

@mixin respond($size, $type: max) {
  $value: map.get($breakpoints, $size);
  @if $type == max {
    @media (max-width: $value) {
      @content;
    }
  } @else if $type == min {
    @media (min-width: $value) {
      @content;
    }
  }
}

