@import './markdown.css';
@import './scrollbar.css';
@import './text.css';
@import './animations.css';

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100svh;
  min-height: 100dvh;
  min-height: 100vh;
  overflow: hidden;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* ensure leaflet markers have no white background */
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}
