<div class="game">
    <div class="zone left">
        left
    </div>
    <div class="zone center">

        <ng-container *ngIf="gameState.hasPokemon$ | async; else noPokemon">
            <app-panel-main class="full" />
        </ng-container>

        <ng-template #noPokemon>
            <app-panel-starter class="full" />
        </ng-template>

    </div>
    <div class="zone bottom">

    </div>

    <div class="zone right">
        <app-schlagedex />
    </div>
    <div class="zone top">
        top
    </div>
</div>