<ng-container *ngIf="dex.shlagemons$ | async as mons">
  <section *ngIf="mons.length > 0" class="schlagedex">
    <h2 class="title">Schlagedex</h2>
    <mat-list class="mon-list">
      <mat-list-item *ngFor="let mon of mons" (click)="openDialog(mon)" class="mon-item">
        <img matListAvatar [src]="imageUrl(mon)" [alt]="mon.name" />
        <div matLine>{{ mon.name }}</div>
        <div matLine class="secondary">{{ mon.type }}</div>
      </mat-list-item>
    </mat-list>
  </section>
</ng-container>
