<ng-container *ngIf="dex.shlagemons$ | async as mons">
  <section
    *ngIf="mons.length > 0"
    class="schlagedex"
  >
    <h2 class="title">Schlagedex</h2>
    <div class="list">
      @for (mon of mons; track mon) {
      <div
        class="list-item"
        [class.active]="dex.getActiveShlagemon()?.id === mon.id"
        (click)="openDialog(mon)"
      >
        <div class="f-flex">
          <img
            [src]="imageUrl(mon)"
            [alt]="mon.name"
          />
          <div class="name">{{ mon.name }}</div>

        </div>
        <shlagemon-type [value]="mon.type"></shlagemon-type>
        <button
          mat-icon-button
          (click)="dex.setActiveShlagemon(mon); $event.stopPropagation()"
        >
          <mat-icon>check</mat-icon>
        </button>
      </div>
      }
    </div>
  </section>
</ng-container>