@use '@angular/material' as mat;

$my-typography: (
    plain-family: 'Roboto',
    brand-family: 'Open Sans',
    bold-weight: 900,
    medium-weight: 500,
    regular-weight: 300,
);


$theme-config: (
    color: mat.$violet-palette,
    typography: $my-typography,
    density: 0,
);

@include mat.core();

.light-theme {
    color-scheme: light;
    @include mat.theme($theme-config, $overrides: (theme-type: light));
}

.dark-theme {
    color-scheme: dark;
    @include mat.theme($theme-config, $overrides: (theme-type: dark));
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Open Sans", sans-serif;
}

.full {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.f-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}